	.banner{
		font-family: 'Roboto Slab', serif;

		text-align: center;
		width: 100%;
		min-width: 1024px ;
		height:120px;
        margin:0;
		padding:0;
        position: relative;
        vertical-align: auto;

        /*Puts the banner image as a background, 
        centering and not allowing the image to repeat if space needs to be filled (as is the default)*/
        background: url("../images/banner/arm banner.png") center;
        background-size: 100% 100%;
}

.banner #connaktSymbol {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

/*General CSS for content within the banner. Used for things like keeping them all in line and evenly spaced.*/
.banner .content {
	top: 35.5%;
	text-align: center;
	/*From http://stackoverflow.com/questions/3779534/how-to-disable-text-selection-with-css-or-js  disables highlighting text on double click.*/
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}
.banner .button{
  font-size: 15px;
	height: 15px;
	width: 40px;
}
.banner .logout{
		position: absolute;	
		
		float:right;
        left:34%;
        padding: 10px 15px;

        font-weight: 300;
        
        text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
        border-radius: 5px;
		text-decoration: none;
}

.banner #toGroup{
  position: absolute;
  right: 8%;
  top: 40%;
}
.banner #toGroupButton {
  width: auto;
}

.banner #yourProfileButton{
		position: absolute;	
		
		float:right;
        left:12%;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 20px;

        font-weight: 300;
        
        border-radius: 5px;
		text-decoration: none;
}
.banner #contactsList {/* wrapper for list of contacts*/
		position: absolute;	
		background: #27ae60; /*Emerald green as background*/;
		
		float:right;
		top: 60%;
        left:12%;
        z-index: 1;/* makes this div appear in the front over all others (ordering in the z direction, essentially)*/
        padding: 10px 15px;

        width: 150px;

        font-weight: 300;
        
        border-radius: 5px;
		text-decoration: none;
}
.banner .contactLink {
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;

    float: top; /*Makes it so that as more divs are added, then float in order from top to bottom*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 5px;

    /*Position & Sizing*/
    text-align: center;
    font-size: 18px;
    line-height: 35px; /*line height = height so text is centered vertically.*/
    width: 95%;
    height:35px;

    border-radius: 5px; /*rounded corners*/

    /*border text coloring*/
    border: 1px solid #2980b9; /*Blue border*/;
    color: white;
}

.banner .settingsButton {
  position: absolute;

    float:right;
    left:88%;
    padding: 10px 15px;
    padding-right: 20px;

    font-weight: 300;
        
    text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
    border-radius: 5px;
    text-decoration: none;

}
/*Wrapper for the searchbarInput and searchButton*/
.banner #searchbar {
	position:absolute;
	top: 42%;
	left: 65%;
	width: 200px;
}
.banner #searchbarInput{
	background: #2c3e50;
	color: #27ae60; /*Connakt green*/
  height: 17px;
	box-shadow: none;
}


.banner #searchButton{
	position: absolute;
	/*Position it so it sits just off to the right side of the searchbarInput*/
	top: 5px;
	right: -10px;
	height: 21.5px;
	border-radius: 8px;
	border-color: transparent;
  font-size: 13px;

	/*Set background color as the same dark blue as search bar*/
	background-color: #2c3e50;
	/*Set background to have the image of the search icon*/
	/*Implement this once we recolor the search icon to the same grey as the text color, or maybe the emerald green that we have been using.*/
/*	background-image: url("../images/glyphicons_free/glyphicons/png/glyphicons-433-plus.png");
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center;*/
}
.banner #searchButton:hover{
	cursor: pointer; /*change cursor to be a pointing hand*/
}

/*CSS for the input field specifically in the banner.*/
/*Some padding on the right side so the search button doesn't overlap.*/
#searchbar input[type=text], textarea {
	padding-right: 25px;
	border-width: 0px;
}
#searchBar input[type=text]:focus, textarea:focus {
	padding-right: 25px;
	border-width: 0px;
	border-color: transparent;
}


/*Here is code that is meant to apply to placeholder text on all pages. there are multiple classes for different versions of browsers.*/
::-webkit-input-placeholder {
   color: #bdc3c7; /*light blue, lighter than our main blue*/
}

:-moz-placeholder { /* Firefox 18- */
   color: #bdc3c7; /*light blue, lighter than our main blue*/  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bdc3c7; /*light blue, lighter than our main blue*/  
}

:-ms-input-placeholder {  
   color: #bdc3c7; /*light blue, lighter than our main blue*/  
}

input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
  border-radius: 8px;

}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #27ae60;
  border-radius: 8px;
}

/*// Change the white to any color ;)*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: red !important;
}