.banner{
		font-family: 'Roboto Slab', serif;

		
		text-align: center;
		width: 100%;
		min-width: 1080px ;
		height:160px;
        margin:0;
		padding:0;
        position: relative;
        vertical-align: auto;

        /*Puts the banner image as a background, 
        centering and not allowing the image to repeat if space needs to be filled (as is the default)*/
        background: url("../images/banner/arm banner.png") center;
        background-size: 100% 100%;
}

.banner #connaktSymbol {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

/*General CSS for content within the banner. Used for things like keeping them all in line and evenly spaced.*/
.banner .content {
	top: 36.5%;
}
.banner .logout{
		position: absolute;	
		
		float:right;
        left:88%;
        padding: 10px 15px;

        font-weight: 300;
        font-size: 18px;
        
        text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
        border-radius: 5px;
		text-decoration: none;
}

.banner .searchBar {
	position:absolute;
	float:right;
	top: 42%;
	left: 65%;
	height: 40px;
	
	
}

.banner #searchButton{
	height: 55%;
}
