/*For keeping the right & left sidebar (left and right columns) and the center field (column) aligned
CSS in this block is the "default" or inherited data for the rest of the CSS in this file.*/
#columnWrapper { 
    float:  top;
    font-family:  'Roboto Slab', serif;
    font-weight: 300;
    font-size: 150%;
    line-height:34px;
    color: black;
    text-align: center;


    position: absolute;

    /*Width is set to a percentage so that it resizes as the screen does.
    Once the width reaches 1080px, the most common of smaller screens, it stops resizing.*/
    width: 99%; /*this is 99% not 100%, because otherwise the right sidebar gets cut off a little*/
    min-width: 1080px;
    height: 80%;
    /*Centered position*/
}

/*Wrapper  for the center column, containing the main content of the page.*/
#centerColumn {
    font-family:  'Roboto Slab', serif;
    font-weight: 300;
    font-size: 150%;
    line-height:34px;
    text-align: center;
    
    /*Centered position*/
    position:absolute;
    left: 365px;
    right: 365px;

    /*Sizing*/
    top:0px;
    height: 100%;
    width: 50%;
    min-width: 300px;
/*
    border: 1px solid #fff;
    border-radius: 5px;*/
}

#centerColumn .message{
	position: relative;
	width:600px;
	height:75px;
	background: #2980b9;
	border-style: solid;
	border-width:2px;
	border-color:#000000;
	color:#fff;

}

#centerColumn .subMessage{
	position:relative;
	font-size:50%;
	
}



.sidebar{ /*class for the attributes that both sidebars share*/
    font-size: 90%;

    /*Cloud background color, with a similarly colored border so that it has soft edges.*/
    background: #ecf0f1;
    border: 1px solid #ecf0f1;
    border-radius: 5px;

    /*Positioning & Size stuff*/
    position: absolute;
    width: 360px;
    height: 100%;
}



.sidebarHeader { /*General CSS for both sidebar headers.*/
    float: top;
    margin-top:0px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 150%;
    text-align: center;

    position: absolute;
    height: 15%;
    width: 100%
}
.sidebarContent { /*wrapper for content appearing in sidebars under the header*/
    overflow: auto;
    margin-top: 15%;
    height: 87%;
}



#groupSidebar { /*Contains CSS specific to the group (left) sidebar*/
    left: 0px; /*Amount of space between the sidebar and the left margin of columnWrapper*/
}

#convSidebar { /*Contains CSS specific to the conversation (right) sidebar*/
    right: 0px; /*Amount of space between the sidebar and the left margin of columnWrapper*/
}


/*How the individual links to each conversation will appear within each sidebar
These will be wrapper inside the sidebarContent section*/
.convLink {

    /*As text runs outside the div, it cuts it off and inserts ellipsis*/
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;

    float: top; /*Makes it so that as more divs are added, then float in order from top to bottom*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    


    background: #4086AA; /*Blue background*/
    border: 1px solid black; /*Nice border that makes it look more neat, but still a flat UI*/

    /*Position & Sizing*/
    text-align: left;
    width: 95%;
    height:10%;
}