    html{
    height: 100%;
}

body{
    height: 99%;
    width: 99%;
    background:#34495e;
}



/*Wrapper that surrounds the input field and the button for submitting a post*/
#postWrapper {
    position: absolute;
    height: 10%;
    width: 100%;
}

/*Text input field for the post*/
#postInput { /*within postWrapper*/
    font-weight: 300;
    font-size: 20px;
    line-height:10px;

    resize: none; /*Keep the input box from being resizable (as is the default)*/

    /*Size and positioning of the div*/
    position: absolute;
    width: 99.5%;
    height: 100%;
    left: 0px;
}

/*Styling that is specific to the "Submit post" or "Post message" button.*/
#postButton{/*within postWrapper*/
    position: relative;/*absulute*/
    margin-top: 14px;/*top*/
	float:right;
	margin-right:5px;
    height: 50px;/*height=111%*/
    width: 11%;/*width=11%*/
    color: white;
    right: 0px;
}


/*Wrapper where the posts will be contained in.*/
.postContent { /*below postWrapper, contained in center column*/
    float:top; /*if postMessage (or anything else above this) moves up or down vertically, the div for postFeed will move up or down with it.*/
    position: absolute;
    top: 12%;
    height: 88%;
	width:100%;
}

/*CSS for actual posts within the postContent*/
.postContent .post{
    display: block;
    width:98%;
    margin: 5px 5px 5px 5px;
    height:75px;
    background: #2980b9;
    color:#fff;
	
	font-size:55%;
    /*From http://stackoverflow.com/questions/3779534/how-to-disable-text-selection-with-css-or-js  disables highlighting text on double click.*/
    -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

/*CSS for if YOU submitted the post.*/
.postContent .subPost{
    position:relative;
    font-size:50%;
}

.postContent .subPost .reply-form{
	display:none;
}

.reply-form .button{
	position:relative;
	float:right;
	width: 11%;/*width=11%*/
	height: 30px;/*height=111%*/
	margin-top:10px;
	margin-right:5px;
}



/*The container where the conversation's messages will be put in*/
#conversationFeed { /*within groupConversationWrapper*/
    float: top;

    right: 0px;
    width: 99%;
    height: 85%;
    
    /*Temporary border for debugging*/
    border: 1px solid #fff;
    border-radius: 5px;
}

/*CSS for the messages appearing within the conversationFeed*/
#conversationFeed .message{
    /*...*/
}

#conversationInputField { /*within groupConversationWrapper*/
    float: top;

    /*Height and positioning stuff*/
    right:0px;
    bottom:0px;
    width: 99%;
    height: 15%;
    
    /*Temporary border  for debugging*/
    border: 1px solid #fff;
    border-radius: 5px;
}