html{
    height: 100%;
}

body{
    height: 99%;
    width: 99%;
    background:#34495e;
}





#postMessage { /*post input wrapper postWrapper*/
    float: top; 

    /*Size and positioning*/
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height:20%;
}

/*Where the posts will be contained in.*/
.postContent { /*within postWrapper*/
    float:top; /*if postMessage (or anything else above this) moves up or down vertically, the div for postFeed will move up or down with it.*/

	width:100%;

    height: auto;/*height is left auto so that it dynamically sizes to the content inside*/
}

/*CSS for actual posts within the postContent*/
.postContent .post{
    /*...*/
}





/*The wrapper for the right column, where all parts of the group conversations will be contained in.*/
#groupConversationWrapper {
    float: left;

    position: absolute;
    right: 0px;
    width: 25%;
    height: 100%;
    overflow:hidden;
    
    /*Temporary border for debugging*/
    border: 1px solid #fff;
    border-radius: 5px;
}

/*The container where the conversation's messages will be put in*/
#conversationFeed { /*within groupConversationWrapper*/
    float: top;

    right: 0px;
    width: 99%;
    height: 85%;
    
    /*Temporary border for debugging*/
    border: 1px solid #fff;
    border-radius: 5px;
}

/*CSS for the messages appearing within the conversationFeed*/
#conversationFeed .message{
    /*...*/
}

#conversationInputField { /*within groupConversationWrapper*/
    float: top;

    /*Height and positioning stuff*/
    right:0px;
    bottom:0px;
    width: 99%;
    height: 15%;
    
    /*Temporary border  for debugging*/
    border: 1px solid #fff;
    border-radius: 5px;
}