html{
        height: 100%;
		width:100%;
		min-width: 960px;
}

body{
		position:absolute;
        height: 100%;
		width:100%;
		overflow-x:hidden;
		background: #34495e;
		margin:0;
		padding:-5;
}

.move {
	position:fixed;
	margin-top: 150px;
	vertical-align: auto;
	border-radius: 15px;
	width: 100px;
	height: 190px;
	z-index: 1;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

.move a{
		position:relative;
		margin-top:-2px;
		floate:left;
	    font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 18px;
		color: #000000;
        text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
		width:100px;
		background: #f3f3f3;
		text-decoration: none;

}

.header{
		font-family: 'Roboto Slab', serif;
		position: absolute;
		
		text-align: center;
		width: 100%;
		height:100px;
        margin:0;
		padding:0;
        position: relative;
        vertical-align: auto;
        background: #f3f3f3;
        border: 1px solid #fff;
        border-radius: 5px;
}

.signup{
		position: absolute;	
		
		float:right;
        left:88%;
		top:22%;
        padding: 10px 15px;
        
        font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 18px;
        color: #fff;
        text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
		
		background: #34495e;
        border-radius: 5px;
		text-decoration: none;
}

.loginform {
		position: absolute;		
		float:right;
        left:57%;
		top:22%;
}

.loginform #email, #password {  
    padding: 5px;  
    margin-right: 10px;  
    border: 1px solid rgba(0, 0, 0, 0.3);  
    border-radius: 3px;  
    box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1),   
                0px 1px 0px 0px rgba(0, 5, 51, 0.5) ;  
} 

.loginform .submit {  
		font-family: 'Roboto Slab', serif;
        font-weight: 300;
        font-size: 18px;
        color: #fff;
		
		padding: 9px 15px;  
	
		background: #34495e;
		border: 1px solid #fff;
        border-radius: 5px;
		text-decoration: none;
} 

.panel {
	font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 18px;
    color: #fff;
	text-align:center;
	position:relative;
	margin-top: 5%;
	width: 100%;
	height: 100vh;
	background:#2980b9;
}

.missionContent {
	text-align: left;
	margin-left:20%;
	margin-right:20%;
}

.featuresPanelContent{
    text-align: left;
	margin-left:20%;
}
.teamMember{
	margin-bottom:125px;
}

.teamMemberImage{
	position:absolute;
	float:left;
	margin-left:150px;
	width:125px;
	height:125px;
	background: #34495e;
	border: 3px solid #fff;
    border-radius: 5px;
	
}

.footer {
	height: 200px;
	margin-top: 5%;
	background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;
}