html{
        height: 100%;
}

body{
        height: 100%;
		background: rgba(0,113,128,1);
		background: -moz-linear-gradient(left, rgba(0,113,128,1) 0%, rgba(61,188,204,1) 52%, rgba(0,113,128,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,113,128,1)), color-stop(52%, rgba(61,188,204,1)), color-stop(100%, rgba(0,113,128,1)));
		background: -webkit-linear-gradient(left, rgba(0,113,128,1) 0%, rgba(61,188,204,1) 52%, rgba(0,113,128,1) 100%);
		background: -o-linear-gradient(left, rgba(0,113,128,1) 0%, rgba(61,188,204,1) 52%, rgba(0,113,128,1) 100%);
		background: -ms-linear-gradient(left, rgba(0,113,128,1) 0%, rgba(61,188,204,1) 52%, rgba(0,113,128,1) 100%);
		background: linear-gradient(to right, rgba(0,113,128,1) 0%, rgba(61,188,204,1) 52%, rgba(0,113,128,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007180', endColorstr='#007180', GradientType=1 );
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight:300;
        text-align: left;
        text-decoration: none;
}

.header{
	width: 350px;
        margin: 0 auto;
        position: relative;
        vertical-align: auto;
        background: #f3f3f3;
        border: 1px solid #fff;
        border-radius: 5px;
        
        box-shadow: 0 1px 3px rgba(255,117,11,0.5);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}