body{
    background: #34495e;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background:#34495e;
}

#centerColumn .image{
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right:auto;
    height:120px;
    width:120px;
}
#centerColumn .profileName{
  line-height:100%;
  font-size: 60px;
  color: #2980b9;
}
#tagsWrapper {
  width: 95%;	
	margin-left: auto;
	margin-right: auto;
}

#profileButtonsWrapper {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
/*profile button is in buttons.css*/


#pictureWrapper {
  width: 120px;
  height: 120px;
  /*center it*/
  margin-left: auto;
  margin-right: auto;
}

#pictureWrapper:hover > .removePicture{
  display:block;
}

#pictureWrapper .removePicture  {
  display:none;
  position: absolute;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 0px;  

  height: 10px;
  width: 40px;

  line-height: 10px;
  font-size: 10px;
  margin-top: 109px;
  margin-left: 70px;
}


/*CSS specifically for the input field for tags on this page.*/
#tagsWrapper input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 5px 0px 3px 5px; /*top, right, bottom, left*/
  /*Has the same margin, width, and height as an actual tag*/
  margin: 5px 5px 5px 5px; 
  width: 120px; 
  height: 20px;
  border: 1px solid transparent; /*it is solid and 1px so there isnt any shift when selecting it*/
  border-radius: 8px;

}
 
/*When selecting the text field this happens. Highlights emerald green (connakt main green)*/
#tagsWrapper input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 5px 0px 3px 5px;
  margin: 5px 5px 5px 5px;
  width: 120px;
  height: 20px;
  border: 1px solid #27ae60;
  border-radius: 8px;
}


