/*Common CSS for tags for both group and profile tags.*/

.tag {
    /*As text runs outside the div, it cuts it off and inserts ellipsis*/
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;

    float: left; /*Makes it so that as more divs are added, then float in order from left to right*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    
    padding: 1px 2px 3px 3px;
    font-size: 50%;
    /*border and text color is Cloud color*/
    color: #ecf0f1;
    border: 1px solid #ecf0f1; /*Nice border that makes it look more neat, but still a flat UI*/
    border-radius: 10px; /*Rounded corners on the border*/

    /*Position & Sizing*/
    text-align: center;
    width: 130px;
    height:25px;
}
/*Make it so the tag expands on hover if there is text that would make it stretch above 130px*/
.tag:hover {
  min-width: 130px;
  width: auto;
}

/*More details for the input field for tags is located on profile.css*/
#tagNameInput {
  border: none;
  color: #27ae60; /*Connakt green*/;
  background: transparent;
  float: left;
  font-size: 15px;
}
#tagInputButton{
  visibility: hidden;
}
